@charset "UTF-8";

@media screen {
    *{
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(87, 58, 33);
        background-color: #c8b68b;
    }
    header{
        padding: 20px 0 0 0;
    }
    .header{
        display: flex;
        flex-flow: row wrap;
        padding: 20px 0px 0px 0px;
        justify-content: center;
        width: 100%;
        /* box-shadow: 0 0 2px black; */
    }
    #spnovo, #sprestaurar{
        text-align: center;
    }
    .inicio{
        display: flex;
        flex-flow: column;
        gap: 10px;
        justify-content: center;
    }
    h3{
        text-align: center;
    }
    .excluido{
        text-decoration: line-through;
    }
    .preco{
        display: none;
    }
    #hid, #spedit, #spedit, #spcodigo, #spprint, #spsave, #sprestaurar, #coddev{
        display:none;
    }
    section{
        display: flex;
        flex-flow: column;
        justify-content: center;
        row-gap: 3px;
    }
    button{
        margin: 0px 0;
        border-radius: 10px;
        color: white;
        padding: 5px;
    }
    button#print{
        background-color: #3A7D44;
    }
    button#edit{
        background-color: #B8336A;
    }
    button#save{
        background-color: #1F5673;
    }
    button#copy{
        background-color: #B8336A;
    }
    button#novo{
        background-color: #3A7D44;
    }
    button#restaurar{
        background-color: #1F5673;
    }
    button#dev{
        background-color: #B8336A;
    }
    #spcodigo{
        text-align: center;
    }

    /* div.top{
        padding-bottom: 5px;
        width: 100%;
        text-align: center;
        box-shadow: 0 0 2px black;
    } */
    div.thead{
        padding: 0px 0px 0px 0px;
        display: none;
    }
    .thead, .tbuttons, .input{
        width: 100%;
    }
    .input{
        text-align: center;
    }
    .buttons{
        display: flex;
        flex-flow: row;
        gap: 15px;
        justify-content: center;
    }
    div.diacli{
        display: flex;
        flex-flow: row wrap;
        row-gap: 5px;
        justify-content: center;
    }
    div.itenstot{
        padding: 5px 0;
        display: flex;
        flex-flow: row wrap;
        row-gap: 10px;
        width: 100%;
        justify-content: center;
    }
    .dir{
        display: none;
    }
    .altquebra{
        height: 0px;
    }
    div#qnt{
        display: none;
        width: 175px;
        text-align: center;
    }
    div#tot{
        display: none;
        width: 175px;
        text-align: center;
    }
    div#divcliente{
        display: none;
        width: 350px;
        text-align: center;
    }
    div#divdia{
        display: none;
        width: 350px;
        text-align: center;
    }
    div#body{
        padding: 0;
    }
    div#lista{
        width: 800px;
    }
    #alert{
        display: none;
        text-align: center;
        color: red;
        font-style: italic;
    }
    .del{
        background-color: #E9190F;
        border-radius: 20px;
        width: 30px;
        color: white;
        padding: 0px;
    }
    .res{
        background-color: #0f21e9;
        border-radius: 20px;
        width: 30px;
        color: white;
        padding: 0px;
    }
    .del:hover{
        background-color: brown;
    }
    input{
        height: 40px;
        background-color: #F2EEE3;
        border-radius: 10px;
    }
    table{
        /* border: 1px solid; */
        margin-left: auto;
        margin-right: auto;
    }
    td{
        padding: 7px 0;
    }
    td.tddel{
        width: 50px;
    }
    td.tditem{
        width: 80px;
        text-align: center;
    }
    td.tdcod{
        width: 95px;
    }
    td.tddesc{
        width: 260px;
    }
    td.tdpreco{
        display: none;
        width: 200px;
    }
    td.tdpag{
        display:none;
    }
    #spcopy{
        display:none;
    }

}
@media screen and (min-width: 600px){
    *{
        font-size: 22px;
    }
    div#qnt{
        width: 220px;
    }
    div#tot{
        width: 220px;
    }
    td.tddel{
        width: 50px;
    }
    td.tditem{
        width: 120px;
        text-align: center;
    }
    td.tdcod{
        width: 130px;
    }
    td.tddesc{
        width: 300px;
    }
    td.tdpreco{
        display: block;
        width: 200px;
    }
    td.tdpag{
        display: none;
    }
}

/* #####################################################################*/

@media print{
    a{
        text-decoration: none;
    }
    *{
        background-color: white;
        color:black;
        border: 0px;
        margin: 0px;
        padding: 0px;
    }
    header{
        display: block;
        padding: 1px;
        font-size: 18px;
        position: fixed;
        top: 0;
        height: 0px;
    }
    .header{
        padding: 0 50px;
    }
    table{
        font-size: 13px;
    }
    button{
        display: none;
    }
    hr {
        margin-top: 3px;
        height: 1px;
        background: transparent;
        width: 100%;
        border: none;
        border-top: solid 1px #aaa;
    }
    hr.quebra{
        page-break-after: always;
    }
    .altquebra{
        height: 93px;
    }
    div#qnt{
        display: inline-block;
        width: 250px;
    }
    div#tot{
        display: inline-block;
        width: 200px;
    }
    div#divcliente{
        display: inline-block;
        width: 400px;
        text-align: "center";
        /* box-shadow: 0 0 2px black; */
    }
    div#divdia{
        display: inline-block;
        width: 170px;
        text-align: "center";
        /* box-shadow: 0 0 2px black; */
    }
    .buttons{
        display: none;
    }

    div.top{
        text-align: center;
        padding: 2px;
    }
    div.thead{
        padding: 0;
        font-weight: bold;
    }
    div.input{
        display: none;
    }
    .inv{
        display: none;
    }
    td.tddel{
        width: 50px;
    }
    td.tditem{
        width: 80px;
        text-align: center;
    }
    td.tdcod{
        width: 95px;
    }
    td.tddesc{
        width: 260px;
    }
    td.tdpreco{
        display: block;
        width: 200px;
    }
    .excluido{
        text-decoration: line-through;
    }
    td.tdpag{
        display: block;
    }
    #spcodigo{
        display: none;
    }
}